<h1><%=@artist.name %>'s Artist Page</h1>

<%= link_to "Edit Artist information", edit_artist_path(@artist) %>
<%= link_to "Delete Artist(and all songs)", @artist, method: :delete %>
<%= link_to "Go Back", artists_path %>
